.fetched{
    padding:2rem;
    display: block;
    background: ghostwhite;
    border-radius: 1rem;
    border: 0.1px solid;
    border-color:white;
    margin-right: 70rem;
    margin-bottom: 2rem;
    box-shadow: 0.3rem 0.3rem 0.6rem #E4EBF5, -0.2rem -0.2rem 0.5rem white;
    }

.fetched:hover{
    background:white;
    }

.right-aligned{
    text-align: end;
    max-width: 90%;
    margin-bottom: 5rem;
    }

.dark-theme .fetched{
    background: rgba(255, 255, 255, 0.1);
    border-color: green;
    box-shadow: 0.3rem 0.3rem 0.6rem #012a3f, -0.2rem -0.2rem 0.5rem rgb(0, 0, 0.2);
}

.dark-theme .fetched:hover{
    background: #033c58;
}

.hero{
    padding: 20vh 1.5rem 10vh 1.5rem;
}


  /* Small devices (smaller than 640px) */
@media only screen and (max-width: 639px) {
    .fetched{
        margin-right: 0;
    }

    .right-align{
        margin-right: 5rem;
    }

    .hero{
        padding: 20vh 1.5rem 10vh 1.5rem;
    }
}

/* Medium devices (641px to 1007px) */
@media only screen and (min-width: 641px) and (max-width: 1007px) {
    .fetched{
        margin-right: 35vw;
    }

    .right-align{
        margin-right: 10rem;
    }

    .hero{
        padding: 20vh 1.5rem 10vh 1.5rem;
    }
}