/* Custom properties */
:root{
    --font-light-header: navy;
    --font-dark-header: Azure;
    --font-dark: azure;
    --font-light: navy;
    --bg-light: Azure;
    --bg-dark: navy;
    --link-light: black;
    --link-dark: yellow;
    --hover-light-color: var(--font-light);
    --hover-dark-color: var(--bg-light);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(240,255,255,.05);
    --transparent-dark-color: rgba(0,0,128,.75);
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Base styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

html{
    /* font-size: 10px; */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--font-light);
    background-color: var(--bg-light);
    transition: background-color 0.25s, color 0.25s;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
    margin: 3rem 0 3rem 0;
}

ul{
    list-style: none;
}

input, 
button{
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

i{
    font-size: var(--font-size-md);
}


/* Theme color change */
body.dark-theme{
    color: var(--font-dark);
    background-color: var(--bg-dark);
}

/* Reusable classes */
.container{
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Header */
.header{
    backdrop-filter: blur(30px) !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 999 !important;
}

.navbar{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding-block: 1.5rem !important;
}

.list{
    display: flex !important;
    align-items: center !important;
    gap: var(--gap) !important;
}

.ul > .list-itm{
    display: inline !important;
    float: left !important;
    padding-left: 3rem !important;
    font-size: var(--font-size-sm);
}


.list-link.current{
    color: var(--link-light);
}

.btn{
    cursor: pointer;
}

.list-link:hover, 
.btn:hover,
.btn:hover span{
    color: teal;
}

.sun-icon{
    display: none;
}

.dark-theme .moon-icon{
    display: none;
}

.light-theme .moon-icon{
    display: block;
}

.dark-theme .sun-icon{
    display: block;
}

/* Header JavaScript Styles */
.header.activated{
    box-shadow: 0 0 0.2rem 0 teal;
}

.menu.activated{
    box-shadow: 0 1px 1rem teal;
}


/*dark theme fixes, prefix all classes or elements to be changed with .dark-theme */


/* Footer */
.footer {
    display: block;
    max-width: 100rem;
    background-color:ghostwhite;
    text-align: center;
    padding: 5rem 20rem 2rem 20rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: powderblue;
    border-width: 1px;
    box-shadow: 0.3rem 0.3rem 0.6rem #E4EBF5, -0.2rem -0.2rem 0.5rem white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.dark-theme .footer{
    background-color: navy;
    box-shadow: 0.3rem 0.3rem 0.6rem grey, -0.2rem -0.2rem 0.5rem rgb(0, 0, 0);
}

  .center{
    max-width: 2.5rem; display: block; margin-left: auto; margin-right: auto;
  }

/* Scrollbar styles */



/* Media queries */
@media only screen and (max-width: 639px) {
    .footer{
        margin: 0 2rem 2rem;
        padding: 5rem 2rem 2rem 2rem;
    }

    .container{
        margin: 0 auto;
        max-width: 90%;
    }

      .footer {
        display: flexbox;
        max-width: 90vw;
    }
 }
 
 /* Medium devices (641px to 1007px) */
 @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .footer{
        margin: 0 5rem 5rem;
        padding: 5rem 2rem 2rem 2rem;
    }

    .container{
        margin: 0 auto;
        max-width: 90%;
    }
 }
 

/* Back to top button */
  #back-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
    font-size: var(--font-size-sm);
    border: 0.1px solid;
    border-color:white;
    background-color: ghostwhite;
    color: var(--font-light);
    box-shadow: 0.3rem 0.3rem 0.6rem #E4EBF5, -0.2rem -0.2rem 0.5rem white;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

#back-to-top:hover {
    background-color: white;
}


/*
body {
    background-color:lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
*/