/* Custom properties */
:root{
    --font-light-header: navy;
    --font-dark-header: Azure;
    --font-dark: #8ECAE6;
    --font-light: navy;
    --bg-light: Azure;
    --bg-dark: #023047;
    --link-light: #217286;
    --link-dark: #FFB703;
    --hover-light-color: var(--font-light);
    --hover-dark-color: var(--bg-light);
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Base styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

html{
    /* font-size: 10px; */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--font-light);
    background-color: var(--bg-light);
    transition: background-color 0.25s, color 0.25s;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
    margin: 3rem 0 3rem 0;
}

ul{
    list-style: none;
}

input, 
button{
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

i{
    font-size: var(--font-size-md);
}


/* Theme color change */
body.dark-theme{
    color: var(--font-dark);
    background-color: var(--bg-dark);
}

/* Reusable classes */
.container{
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Header */
.header{
    backdrop-filter: blur(30px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.list{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.ul > .list-itm{
    display: inline;
    float: left;
    padding-left: 3rem;
    font-size: var(--font-size-sm);
}


.list-link.current{
    color: var(--link-light);
}

.btn{
    cursor: pointer;
}

.list-link:hover, 
.btn:hover,
.btn:hover span{
    color: teal;
}

.sun-icon{
    display: none;
}

.light-theme .moon-icon{
    display: block;
}

/* Header JavaScript Styles */
.header.activated{
    box-shadow: 0 0 0.2rem 0 teal;
}

.menu.activated{
    box-shadow: 0 1px 1rem teal;
}


/*dark theme fixes, prefix all classes or elements to be changed with .dark-theme */
.dark-theme .sun-icon{
    display: block;
}

.dark-theme .moon-icon{
    display: none;
}

.dark-theme .footer{
    background-color: #023047;
    box-shadow: 0.3rem 0.3rem 0.6rem #031d2b, -0.2rem -0.2rem 0.5rem #03141d98;
    border-color: green;
}

/* Footer */
.footer {
    display: block;
    max-width: 100rem;
    background-color:ghostwhite;
    text-align: center;
    padding: 5rem 20rem 2rem 20rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: powderblue;
    border-width: 1px;
    box-shadow: 0.3rem 0.3rem 0.6rem #E4EBF5, -0.2rem -0.2rem 0.5rem white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

  .center{
    max-width: 2.5rem; display: block; margin-left: auto; margin-right: auto;
  }

/* Scrollbar styles */


/* Back to top button */
#back-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
    font-size: var(--font-size-sm);
    border: 0.1px solid;
    border-color:white;
    background-color: ghostwhite;
    color: var(--font-light);
    box-shadow: 0.3rem 0.3rem 0.6rem #E4EBF5, -0.2rem -0.2rem 0.5rem white;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

#back-to-top:hover {
    background-color: white;
}


/* Media queries */
@media only screen and (max-width: 639px) {
    .footer{
        margin: 0px 2rem 2rem;
        padding: 5rem 2rem 2rem 2rem;
    }

    .container{
        margin: 0 auto;
        padding: 0 1.5rem;
    }

 }
 
 @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .footer {
        padding: 5rem 2rem 2rem 2rem;
      }

    .container{
        margin: 0px auto;
        padding: 0px 1.5rem !important;
    }
 }
